@model OnlineEducation.Models.UserModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_OtherMaster.cshtml";
}

<div style="width:30%;margin:10% 10%">
    <h2>Change Password</h2>
    @{
        Html.BeginForm("UpdatePassword", "ForgotPassword", FormMethod.Post);
        <div class="row">
            <label class="errorMsg" id="errorPassword">@Html.ValidationMessageFor(m => m.UPassword)</label>
            <div class="row input-group mgnRemove">
                <span class="input-group-addon input-sm"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.UPassword, new { @class = "form-control input-sm", @id = "txtPassword", @MaxLength = 20, @placeholder = "Password", tabindex = "8" })
            </div>
        </div>
        
        <div class="row">
            <label class="errorMsg" id="errorRePass">@Html.ValidationMessageFor(m => m.Repassword)</label>
            <div class="row input-group mgnRemove">
                <span class="input-group-addon input-sm"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.Repassword, new { @class = "form-control input-sm", @id = "txtRepassword", @MaxLength = 20, @placeholder = "Repassword", tabindex = "9" })
            </div>
            <div style="float:right"> <a href="@Url.Action("Index", "ForgotPassword")"> Change Email </a> </div>
        </div>

        <a href="@Url.Action("Index", "Login")" class="btn btn-danger">Cancel</a>
        <input type="submit" name="Change" id="change" class="btn btn-primary" />
    }
</div>