@model OnlineEducation.Models.UserModel
<table class="table table-bordered table-hover" style="width:100%;">
    <thead class="label-default">
        <tr>
            <th>User ID</>
            <th>User Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Regisration date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    @{
        if (Model.UserDetail.Count != 0) 
        {
            foreach (var data in Model.UserDetail)
            {
                <tr>
                    <td>@data.UserID</td>
                    <td>@data.FName @data.LName</td>
                    <td>@data.Email</td>
                    <td>@data.MobileNo</td>
                    <td>@data.RegDate.ToShortDateString()</td>
                    <td>@data.ISActive</td>
                    @if (@data.BlockID == @data.UserID)
                    {
                        <td><a href="" id="@data.UserID" onclick="BlockUsers(this);" name="UnBlock"> UNBLOCK </a></td>
                    }
                    else
                    {
                        <td><a href="" id="@data.UserID" onclick="BlockUsers(this);" name="Block"> BLOCK </a></td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td align="center" colspan="7"> No Records Found</td>
            </tr>
        }        
    }
    <tfoot>Total @Model.UserDetail.Count Record's found</tfoot> 
</table>