@model OnlineEducation.Models.FeedBackModel
@{
    ViewBag.Title = "Complaints";
    Layout = "~/Areas/Admin/Views/Shared/_MasterPage.cshtml";
}

<h2>Complaints</h2>

<link type="text/css" rel="stylesheet" href="~/Content/bootstrap.css" />
<script src="~/scripts/jquery-1.9.1.js"></script>
<script src="~/scripts/GetComplaintsBySearch.js"></script>
<script>
    var GetSearch = '@Url.Action("GetComplaints", "FeedBackandComplaint", new { area = "Admin" })';
</script>

<body>
    <section class="container-fluid BodyStyle">
        <div class="row" style="margin-top:20px;background-color:lightgrey;padding:20px 10px 20px 10px;">
            <h4><label style="padding:0px 5px 10px 5px;color:#0066CC;">Search Complaints</label></h4>
            <input type="text" class="input-lg" name="CompID" id="txtComplaintID" placeholder="Enter Complaint ID or Email to search" />
            <select id="Status" name="Status" class="input-lg" style="width:26.4%;">
                <option value="" selected>-- Select Complaint Status --</option>
                <option value="Active">Inprocess</option>
                <option value="InActive">Resolved</option>
            </select>
            <input type="button" id="btnSearch" class="btn btn-primary btn-lg" name="btnSearch" value="Search" />
        </div>
        <div class="row" style="margin-top:10px;background-color:lightgrey;padding:20px 10px 20px 10px;">
            <label style="margin:0px 40px 0px 0px;color:#0066CC;font-size:18px; font-style:normal; font-weight:400;">Total Complaints - @ViewBag.TotalComplaints</label>
            <label style="margin:0px 40px 0px 0px;color:#0066CC;font-size:18px; font-style:normal; font-weight:400;">Resolved Complaints - @ViewBag.Solved</label>
            <label style="margin:0px 40px 0px 0px;color:#0066CC;font-size:18px; font-style:normal; font-weight:400;">UnResolved Complaints - @ViewBag.UnSolved </label>
        </div>
        <div class="row" style="margin-top:10px;overflow:auto;">
            <div id="ComplaintDetail">
                <table class="table table-bordered table-hover pre-scrollable" style="width:100%;" id="">
                    <thead>
                        <tr class="label-default">
                            <th>Complaint ID</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Complaint Message</th>
                            <th>ComplaintDate</th>
                            <th>Solution</th>
                            <th>Solution Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @{
                        foreach (var data in Model.loComplaints)
                        {
                            <tr>
                                <td><input type="button" id="@data.ComplaintID" data-toggle="modal" data-target="#myModal2" class="btn-link" value="@data.ComplaintID" onclick="ViewComplaint(this);" name="Solution"> </td>
                                <td id="@{@data.ComplaintID}U">@data.UserName</td>
                                <td id="@{@data.ComplaintID}E">@data.EmailID</td>
                                <td id="@{@data.ComplaintID}S">@data.Subjet</td>
                                <td id="@{@data.ComplaintID}d" style="column-width:35px;max-width:35px;overflow:hidden;overflow-x:hidden;max-height:40px;">@data.Description</td>
                                <td>@data.ComplaintDate</td>
                                <td>@data.Solution</td>
                                <td>@data.SolutionDate</td>
                                @if (data.Solution == null)
                                {
                                    <td align="center"><input type="button" id="@data.ComplaintID" data-toggle="modal" data-target="#myModal" class="btn-link" value="Add Solution" onclick="AddSolution(this);" name="Solution"> </td>
                                }
                                else
                                {
                                    <td align="center"> Solved </td>
                                }
                            </tr>
                        }
                        <tfoot>Total @Model.loComplaints.Count Records Found</tfoot>
                    }
                </table>
            </div>
            <div class="container">
                @{
                    Html.BeginForm("AddSolution", "FeedBackandComplaint", new { area = "Admin" }, FormMethod.Post);
                }
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Solution</h4>
                            </div>
                            <div class="modal-body">
                                @Html.LabelFor(m => m.ComplaintID, new { @id = "ComplaintID" })
                                @Html.HiddenFor(m => m.ComplaintID, new { @id = "CmplntID" })
                                @Html.LabelFor(m => m.Subjet, new { @id = "Complaint" })
                                @Html.HiddenFor(m => m.Subjet, new { @id = "Subject" })
                                @Html.HiddenFor(m => m.EmailID, new { @id = "Email" })
                                @Html.HiddenFor(m => m.UserName, new { @id = "Username" })
                                <div>
                                    @Html.TextAreaFor(m => m.Solution, new { @style = "margin: 0px; width: 563px; height: 207px;", @cols = "35", @rows = "10", @placeholder = "Add Solution " })
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" name="AddSolution" class="btn btn-default" value="Add Solution" id="AddSolution" />
                                @*<button type="submit" class="btn btn-default" id="Yes" data-dismiss="modal">Yes, LogOut</button>*@
                                <button type="button" class="btn btn-default" id="Cancel" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                @{ Html.EndForm();}
            </div>

            <!-- Modal For Description -->
            <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Solution</h4>
                            </div>
                            <div class="modal-body">
                                @Html.LabelFor(m => m.ComplaintID, new { @id = "ComplainID" })<br />
                                @Html.LabelFor(m => m.Subjet, new { @id = "Sub" })<br />
                                @Html.LabelFor(m => m.EmailID, new { @id = "EmailID" })<br />
                                @Html.LabelFor(m => m.UserName, new { @id = "Usernam" })<br />
                                <div>
                                    @Html.TextAreaFor(m => m.Description, new { @style = "margin: 0px; width: 563px; height: 207px;", @cols = "35", @rows = "10", @id = "Desc", @placeholder = "Add Solution ", @disabled = "Disabled" })
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" id="No" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>


<script>
    function AddSolution(event) {
        debugger
        var desc = $('#' + event.id + 'd').html();
        var em = $('#' + event.id + 'E').html();
        var un = $('#' + event.id + 'U').html();
        $('#ComplaintID').html('Coplaint ID :' + event.id);
        $('#CmplntID').val(event.id);
        $('#Complaint').html(' - ' + desc);
        $('#Subject').val(desc);
        $('#Email').val(em);
        $('#Username').val(un);
    }

    function ViewComplaint(event) {
        debugger
        var desc = $('#' + event.id + 'd').html();
        var em = $('#' + event.id + 'E').html();
        var un = $('#' + event.id + 'U').html();
        var s = $('#' + event.id + 'S').html();
        $('#ComplainID').html('Coplaint ID :' + event.id);
        $('#Desc').val(desc);
        $('#Sub').html('Subject :' + s);
        $('#EmailID').html('Email :' + em);
        $('#Usernam').html('User Name: ' + un);
    }
</script>
