@model OnlineEducation.Models.TutorialsModel
@{
    ViewBag.Title = "Tutorials";
    Layout = "~/Areas/Admin/Views/Shared/_MasterPage.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/bootstrap.css" />
<link href="~/Areas/Admin/Style/UsersList.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.9.1.js"></script>
<script src="~/scripts/SearchTutorials.js"></script>
<script>
    @{var Total = Model.loTutorialsData.Count(); }
    var link = "@Url.Action("GetTutorialsBySearch", "Tutorials")";
</script>
<body>
    <section class="container-fluid BodyStyle">
        <div class="row">
            <label class="headingFont">Tutorials</label>
        </div>

        <div>
            @RenderPage("_UploadTutorials.cshtml")
        </div>

        <div class="row" style="margin-top:20px;background-color:lightgrey;padding:20px 10px 20px 10px;">
            <h4><label style="padding:0px 5px 10px 5px;color:#0066CC;">Search Tutorials</label></h4>
            @Html.TextBoxFor(m => m.Subject, new { @class = "input-lg", @id = "Subject", @placeholder = "Subject Wise" })
            @Html.TextBoxFor(m => m.Category, new { @class = "input-lg", @id = "Categories", @placeholder = "Category Wise", @value = "null" })
            @Html.TextBoxFor(m => m.Description, new { @class = "input-lg", @id = "Keywords", @placeholder = "Keywords", @value = "null" })

            <input type="button" class="btn btn-primary btn-lg" id="SearchFile" name="btnSearch" value="Search" />
        </div>
        <div class="row" style="margin-top:0px;background-color:lightgrey;padding:20px 10px 20px 10px;">
            <label style="margin:0px 20px 0px 20px;color:#0066CC;font-size:18px; font-style:normal; font-weight:400;">Total Tutorials - @Total</label>
        </div>
        <div class="row" id="TutorialsData" style="margin-top:20px;overflow:auto;">
            <table class="table table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr class="label-default">
                        <th>ID</th>
                        <th>Uploaded By</th>
                        <th>Document Name</th>
                        <th>Subject</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Upload Date</th>
                        <th>Rates</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                @{
                    foreach (var data in Model.loTutorialsData)
                    {
                        <tr>
                            <td>@data.TutorialsID</td>
                            <td>@data.UserID</td>
                            <td id="@{@data.TutorialsID}N">@data.DocName</td>
                            <td id="@{@data.TutorialsID}S">@data.Subject</td>
                            <td id="@{@data.TutorialsID}C">@data.Category</td>
                            <td id="@{@data.TutorialsID}D" style="column-width:35px;max-width:35px;overflow:hidden;overflow-x:hidden;max-height:40px;">@data.Description</td>
                            <td>@data.UploadDate.ToShortDateString()</td>
                            <td>@data.Likes</td>
                            <td align="center">
                                <span style="color:blue;cursor:pointer" data-toggle="modal" data-target="#myModal" id="@data.TutorialsID" Tutorials" class="glyphicon glyphicon-pencil btn-link" onclick="TutorialsData(this)"></span>&nbsp;
                                <span style="color:red;cursor:pointer" id="@data.TutorialsID" class="glyphicon glyphicon-trash btn-link" onclick="DelTutorial(this)"></span>
                            </td>
                        </tr>
    }
                }
                <tfoot>Total Tutorials Found @Model.loTutorialsData.Count()</tfoot>
            </table>
        </div>
    </section>
    <div class="container">
        @{
            Html.BeginForm("EditTutorial", "FileUpload", new { area = "Admin" }, FormMethod.Post);
        }
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Solution</h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>

                                <td><label>Tutorials ID : </label> </td>
                                <td>
                                    @Html.LabelFor(m => m.TutorialsID, new { @id = "TutorialsID" })
                                </td>
                            </tr>
                            <tr>
                                <td><label>Document Name :</label>  </td>
                                <td>
                                    @Html.HiddenFor(m => m.TutorialsID, new { @id = "HTutorialsID" })
                                    @Html.TextBoxFor(m => m.DocName, new { @id = "DocName", @class = "input-lg" })
                                </td>
                            </tr>
                            <tr>
                                <td><label>Upload New File</label></td>
                                <td>
                                    @Html.TextBoxFor(m => m.Doc, new { title = "Choose File", @id = "ChooseFile", @class = "fileinput", type = "file", @maxlength = "500", @tabindex = "1" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Subject :</label>
                            </td>
                            <td>@Html.TextBoxFor(m => m.Subject, new { @id = "ESubject", @class = "input-lg" })</td>
                        </tr>
                        <tr>
                            <td><label>Category : </label> </td>
                            <td>
                                @Html.TextBoxFor(m => m.Category, new { @id = "ECategory", @class = "input-lg" })
                            </td>
                        </tr>
                    </table>
                    <div>
                        @Html.TextAreaFor(m => m.Description, new { @style = "margin: 0px; width: 563px; height: 207px;", @cols = "35", @rows = "10", @placeholder = "Add Solution ", @id = "EDesc" })
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="AddSolution" class="btn btn-default" value="Add Solution" id="AddSolution" />
                    <button type="button" class="btn btn-default" id="Cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
<script>
    var Dellink = "@Url.Action("DelTutorials", "FileUpload")";
    function TutorialsData(event) {
        debugger
        var desc = $('#' + event.id + 'D').html();
        var C = $('#' + event.id + 'C').html();
        var tn = $('#' + event.id + 'N').html();
        var s = $('#' + event.id + 'S').html();
        $('#TutorialsID').html(event.id);
        $('#HTutorialsID').val(event.id);
        $('#EDesc').val(desc);
        $('#ESubject').val(s);
        $('#DocName').val(tn);
        $('#ECategory').val(C);
    }
</script>